<%- include('../layouts/header', { title: `Editando a tarefa ${task.name}` })%>
<%- include('../layouts/menu')%>
<body class="has-background-black">
    <div class="is-flex is-justify-content-center">
        <div>
            <form method="post" action="/tasks/<%= task._id%>/edit-task?_method=put">
                <div class="field">
                    <label class="label">Novo nome da tarefa</label>
                    <div class="control has-icons-left has-icons-right">
                        <input name=task[name] class="input has-background-grey-lighter" type="text" value="<%= task.name %>">
                        <span class="icon is-small is-left">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">Nova descrição</label>
                    <div class="control">
                        <textarea name="description[description] "class="has-background-grey-lighter textarea"><%= task.description %></textarea>
                    </div>
                </div>
                
                <div class="field is-grouped is-flex is-justify-content-end">
                    <div class="control">
                        <button class="button is-success is-outlined mr-4">Editar tarefa</button>
                    </div>
                    <div class="control">
                        <a href="/tasks/<%= task._id%>/show" class="button is-danger">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include('../layouts/footer')%>