<%- include('../layouts/header', { title: 'Listas e pessoas' })%>
<%- include('../layouts/menu')%>

<body class="has-background-black">
<div class="container">
    <table class="table has-background-black is-fullwidth">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Nome</th>
                <th>Tarefas</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% persons.forEach(person => {%>
                <tr>
                    <!-- <td><%= person.id %></td> -->
                    <td><%= person.name %></td>
                    <td><%= person.tasks.length %> tarefa(s)</td>
                    <td>
                        <a class="button is-primary is-small is-outlined" href="/persons/<%= person.id%>/edit-person">Editar pessoa</a>
                        <a class="button is-info is-small is-outlined" href="/persons/<%= person.id%>/show">Visualizar</a>
                        <a class="button is-danger is-small is-outlined" href="/persons/<%= person.id%>?_method=delete">Excluir</a>   
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>


<%- include('../layouts/footer')%>
