<%- include('../layouts/header', { title: 'Lista de pessoas' })%>
<%- include('../layouts/menu')%>

<body class="has-background-black">
    <div class="container">
        <table class="table has-background-black is-fullwidth">

            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nome</th>
                    <th>Tarefas</th>
                </tr>
            </thead>
            <tbody>

                <div class="is-flex is-justify-content-center">
                    <% if( persons.length == 0 ){ %>
                        <h1 class="subtitle">Não há tarefas</h1>
                    <% } %>
                </div>
    
                <% persons.forEach(person => {%>
                    <% person.tasks.forEach(task =>{ %>
                    <tr>
                        <td><%= person.name %></td>
                        <td><%= task.name %></td>
                    </tr>
                    <% }) %>
                <% }) %>
            </tbody>
        </table>
        
        <div class="is-flex is-justify-content-end mt-6">
            <a href="/general-list" class="button is-outlined is-primary is-small">Voltar</a>
        </div>

    </div>

<%- include('../layouts/footer')%>
