<%- include('../layouts/header', { title: `Informações de ` })%>
<%- include('../layouts/menu')%>

<body class="has-background-black">
    <div class="is-flex is-justify-content-end">
        <a href="/tasks/<%= persons.id %>/create-task" class="button is-outlined is-primary is-small">Criar nova tarefa</a>
    </div>
    <h1 class="title"><%= persons.name %></h1>
    <div class="is-flex is-justify-content-end">
        total de tarefas:  <%= persons.tasks.length %>
    </div>

    <div class="is-flex is-justify-content-center">
        <% if( persons.tasks.length == 0 ){ %>
            <h1 class="subtitle">Não há tarefas</h1>
        <% } %>
    </div>

    <div class="columns is-desktop is-flex-wrap-wrap">
        <% persons.tasks.forEach(task =>{%>
        <div class="column is-one-third-widescreen is-full-mobile">
            <a href="/tasks/<%= task.id %>/edit-task" class="mt-6 button is-primary is-outlined is-small">Editar tarefa</a>
            <div class="notification is-primary mt-4">
                <h2 class="subtitle"><%= task.name %></h2>
                <p><%= task.description %></p>
                <a href="/tasks/<%= task.id %>?_method=delete" class="delete"></a>
            </div>
        </div>
        <% }) %>
    </div>

    <div class="is-flex is-justify-content-end mt-6">
        <a href="/general-list" class="button is-outlined is-primary is-small">Voltar</a>
    </div>
<%- include('../layouts/footer')%>