<%- include('../layouts/header', { title: `Informações de ` })%>
<%- include('../layouts/menu')%>

<body class="has-background-black">
    
<div class="container p-4">
    <div class="is-flex is-justify-content-end">
        <a href="/tasks/<%= persons.id %>/create-task" class="button is-outlined is-primary is-small">Criar nova tarefa</a>
    </div>
    <h1 class="title"><%= persons.name %></h1>
    <div class="is-flex is-justify-content-end">
        total de tarefas:  <%= persons.tasks.length %>
    </div>

    <div class="columns is-desktop is-flex-wrap-wrap">
        <% persons.tasks.forEach(task =>{%>
        <div class="column is-one-third-widescreen is-full-mobile">
            <div class="notification is-primary mt-6">
                <h2 class="subtitle"><%= task.name %></h2>
                <p><%= task.description %></p>
                <button class="delete"></button>
            </div>
        </div>
        <% }) %>
    </div>

</div>
<%- include('../layouts/footer')%>