<%- include('../layouts/header', { title: 'Listas de tarefas' })%>
<%- include('../layouts/menu')%>

<body class="has-background-black">
<div class="container">

    

    <table class="table has-background-black is-fullwidth">
        <thead>
            <tr>
                <th>Nome da tarefa</th>
                <th>Pessoas</th>
            </tr>
        </thead>
        <tbody>
            <div class="is-flex is-justify-content-center">
                <% if( tasks.length == 0 ){ %>
                    <h1 class="subtitle">Não há tarefas</h1>
                <% } %>
            </div>

            <% tasks.forEach(task => {%>
                <tr>
                    <td><%= task.name %></td>
                    <td><%= task.persons.name %></td>
                </tr>
            <% }) %>        
        </tbody>
    </table>
    <div class="is-flex is-justify-content-end mt-6">
        <a href="/general-list" class="button is-outlined is-primary is-small">Voltar</a>
    </div>

</div>


<%- include('../layouts/footer')%>
